@media screen and (min-width: 428px) {
    .container {
        max-width: 428px;
    }

    /*---------------TEAM---------------*/
     .team > .container {
     width: 294px; 
}

.benefits-menu, .team-menu {
    gap: 72px 24px;
}

.customers-list {
    gap: 72px 16px;
}
}

/*-------CONTAINER 768px-----------------*/
@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }

    /*---------------HEADER--------------*/
        .menu-button{
            display: none;
        }
        .menu {
            display: flex;
            align-items: center;
            gap: 40px;
            margin-left: 76px;
        }
    
        .menu-item {}
    
        .menu-item-link {
            font-weight: 500;
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.02em;
            color: var(--color-main-text);
            transition: color var(--transform-hover-focus);
        }
    
        .menu-item-address {
            line-height: 1.5;
            letter-spacing: 0.02em;
            color: var(--color-second-text);
            transition: color var(--transform-hover-focus);
        }
    
        .menu-item-link:hover,
        .menu-item-link:focus,
        .menu-item-address:hover,
        .menu-item-address:focus {
            color: var(--color-hover);    
        }
    .address-main {
        font-weight: 400;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        font-style: normal;        
        color: var(--color-second-text);
        margin-left: auto;
        display: block;
        }
    
        .contact-main {
            color: var(--color-second-text);
            display: flex;
            align-items: center;
            gap: 12px;
            flex-direction: column;
        }
    
        .email {
            line-height: 1.5;
            letter-spacing: 0.02em;
            color: var(--color-second-text);
        }
    
        .tel {
            line-height: 1.5;
            letter-spacing: 0.02em;
            color: var(--color-second-text);
        }
    
        .current {
            position: relative;
            color: var(--color-hover);
        }
    
        .current::after {
            content: '';
            position: absolute;
            left: 0;
            bottom: -40px;
            width: 100%;
            height: 4px;
            border-radius: 2px;
            background-color: var(--color-hover);
        }
    /*---------------HERO---------------*/
    .hero {    
    background-image: var(--bg-gradient), url(../images/hero-bg-tab.jpg);
    }

@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .hero {
        background-image: var(--bg-gradient), url(../images/hero-bg-tab2x.jpg);
    }
}

.hero-title {
    font-size: 56px;
    line-height: 1.07;
}

/*---------------BENEFITS---------------*/
.benefits-menu-item {
    flex-basis: calc((100% - 24px) / 2);
}  

.benefits-menu {
    gap: 72px 24px;
}

/*---------------TEAM---------------*/
 .team > .container {
    width: 582px;
} 

.team-menu-item {
    flex-basis: calc((100% - 24px) / 2);
}

.team-menu {
    gap: 64px 24px;
}

/*---------------CUSTOMERS---------------*/
.customers>.container {
    width: 582px;
}

.customers-list-item {
    flex-basis: calc((100% - 48px) / 3);
    width: 168px;
}

.customers-list {
    gap: 72px 24px;
}

/*------------FOOTER--------------*/
.footer-main > .container {
    width: 582px;
}

.social {
    margin-left: 24px;
    text-align: left;
}

.text-footer {
    margin-bottom: 72px;
}

.subscribe {
    margin-left: 0;
    margin: 0;
    text-align: left;
}

.subscribe-btn {
    margin-top: 0;
}

.logo-footer {
    margin: 0;
}

.logo {
    display: inline;
    margin: 0;
    text-align: left;
}

.subscribe-text {
    width: 264px;
    font-size: 12px;
}    

/*-----------MODAL WINDOW--------*/
.modal {
    width: 408px;
    height: 586px;
}

/*-----------PORTFOLIO--------*/
.projects-menu-item {
    width: calc((100% - 24px) / 2);
}

.projects-menu {
    gap: 72px 24px;
    justify-content: left;
}

.projects-menu-button {
    justify-content: center;
}
}

/*-------CONTAINER 1158px-----------------*/
@media screen and (min-width: 1200px) {
    .container {
        max-width: 1158px;
    }

    .section {
    padding-top: 120px;
    padding-bottom: 120px;
}

/*--------------HEADER-----------------*/
.contact-main {
    gap: 40px;
    flex-direction: row;
}

.current::after {
    content: '';
    bottom: -28px;
}

.address-main {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
/*---------------HERO---------------*/
.hero {
    padding-top: 188px;
    padding-bottom: 188px;
    background-image: var(--bg-gradient), url(../images/hero-bg.jpg);
}

@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .hero {
        background-image: var(--bg-gradient), url(../images/hero-bg2x.jpg);
    }
}

/*---------------BENEFITS---------------*/
.benefits-svg {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-footer-fon);
    border-radius: 4px;
    width: 264px;
    height: 112px;
    margin-bottom: 8px;
}

.benefits-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
}

.benefits-text {
    font-weight: 400;     
}

.benefits-menu-item {
    flex-basis: calc((100% - 72px) / 4);
}

.benefits-menu, .team-menu {
    gap: 24px;
}

.customers-list {
    gap: 16px;
}

/*---------------WE DOING---------------*/
.we-doing {
    display: block;
    padding-bottom: 120px;
}

.we-doing-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--color-main-text);
}

.we-doing-menu {
    display: flex;
    align-items: center;
    gap: 24px;
    margin-top: 72px;
    justify-content: center;
    flex-wrap: wrap;
}

.we-doing-menu-item {
    width: calc((100% - 48px) / 3);
}

/*---------------TEAM---------------*/

.team > .container {
    width: 1200px;
}

.team-menu-item {
    flex-basis: calc((100% - 72px) / 4);
}

/*---------------CUSTOMERS---------------*/
.customers > .container {
    width: 1200px;
}

.customers-list-item {
    flex-basis: calc((100% - 120px) / 6);        
}

/*-------------FOOTER--------------------*/
.footer-main { 
    padding-top: 100px;
    padding-bottom: 100px;
}

.footer-main > .container {
    width: 1200px;
}

.social {
    margin-left: 120px;
    text-align: left;
}


 .subscribe {
    margin-left: 80px;
}

.logo-footer {
    margin: 0;
}

.subscribe-form {
    display: flex;
}

.subscribe-label {
    margin-right: 24px;    
}

.subscribe-text::placeholder {
    opacity: 1;
}

/*-----------MODAL WINDOW--------*/
.modal {
    height: 584px;
}

/*-----------PORTFOLIO--------*/
.projects-menu-item {
    width: calc((100% - 48px) / 3);
}

.projects-menu {
    gap: 48px 24px;
    justify-content: center;
}
}