@media screen and (min-width: 480px) {
    .container {
        max-width: 480px;
    }
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }

    .hero {    
    background-image: var(--bg-gradient), url(../images/hero-bg-tab.jpg);
    }

@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .hero {
        background-image: var(--bg-gradient), url(../images/hero-bg-tab2x.jpg);
    }
}

.hero-title {
    font-size: 56px;
    line-height: 1.07;
}

}    

@media screen and (min-width: 1200px) {
    .container {
        max-width: 1158px;
    }

    /*---------------HERO---------------*/
.hero {
    padding-top: 188px;
    padding-bottom: 188px;
    background-image: var(--bg-gradient), url(../images/hero-bg.jpg);
}

@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .hero {
        background-image: var(--bg-gradient), url(../images/hero-bg2x.jpg);
    }
}
}